<!--
  Generated template for the CategoriePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Mouvement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="accordion vertical">
    <ul>
      <li>
        <input type="radio" id="radio-1" name="radio-accordion" />
        <label for="radio-1">Ajout Mouvement</label>
        <div class="content">

          <ion-list>

            <ion-item>
              <ion-input placeholder="Description" type="text" [(ngModel)]="mouvement.description"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-label>Entrée</ion-label>
                <ion-checkbox [(ngModel)]="entree" (ionChange)="checkType('entree')" checked="true"></ion-checkbox>
              </ion-col>
              <ion-col>
                <ion-label>Sortie</ion-label>
                <ion-checkbox [(ngModel)]="sortie" (ionChange)="checkType('sortie')"></ion-checkbox>
              </ion-col>
            </ion-row>

            <ion-item>
              <ion-label>Commande</ion-label>
              <ion-checkbox [(ngModel)]="checkcommande" (ionChange)="listCommandes()"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="showSpinnerCommande">
              <ion-label style="font-weight: bold; color: #222222">Commandes</ion-label>
              <select-searchable item-content [(ngModel)]="itemCom" [items]="commandes" itemValueField="object"
                itemTextField="nom" [canSearch]="true" (onChange)="portChangeCom($event)">
              </select-searchable>
            </ion-item>
            <ion-item>
              <ion-label style="font-weight: bold; color: #222222">Produit</ion-label>
              <select-searchable item-content [(ngModel)]="itemProd" [items]="listItemsProd" itemTextField="libelle"
                [canSearch]="true" (onChange)="portChangeProd($event)">
              </select-searchable>
            </ion-item>
            <ion-item>
              <ion-input placeholder="quantité" type="number" [(ngModel)]="quantite"></ion-input>
            </ion-item>

          </ion-list>
          <footer>
            <button class="bouton" (click)="ajoutDetails()" ion-button="">
              <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;
              Ajouter
            </button>
          </footer>
          <ion-card *ngFor="let d of mouvement.details">
            <ion-card-content>
              <p>Produit: <b>{{d.produit.libelle}}</b></p>
              <p>Quantite: <b>{{d.quantite}}</b></p>
            </ion-card-content>
          </ion-card>
          <footer>
            <button style="float: right;" class="bouton" (click)="addMouvement()" ion-button="">
              <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;
              Valider
            </button>
          </footer>

        </div>


    </ul>
  </div>
  <ion-row>
    <ion-col>
      <p class="text-col-header">List Mouvements</p>
    </ion-col>
  </ion-row>
  <ion-list *ngFor="let c of listMouvements">

    <ion-card>
  
      <ion-card-content>
        <ion-card *ngFor="let d of c.details">
          <ion-card-content>

            <p>Code: <b style="font-weight: bolder;">{{d.produit.code}}</b></p>
            <p>Libelle: <b style="font-weight: bolder;">{{d.produit.libelle}}</b></p>
            <p>Date: <b>{{ (d.date ? d.date : '') | date: 'dd MMM yy HH:mm:ss' }}</b></p>
            <p>Quantite: <b style="font-weight: bolder;">{{ d.quantite}}</b></p>
            <p>Type: <b style="font-weight: bolder;">{{d.type}}</b></p>
            <p>Entreprise: <b style="font-weight: bolder;">{{d.entreprise.libelle}}</b></p>
          </ion-card-content>
        </ion-card>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>