<!--
  Generated template for the CategoriePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="colornekstech">
      <ion-title>Produit</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
  <div class="accordion vertical">
      <ul>
          <li>
              <input type="radio" id="radio-1" name="radio-accordion" />
              <label for="radio-1">Ajout Produit</label>
              <div class="content">
  
                        <ion-list>
                    
                          <ion-item>
                            <ion-input placeholder="libelle du produit" type="text" [(ngModel)]="produit.libelle"></ion-input>
                          </ion-item>
                        
                          <ion-item>
                              <ion-textarea  [(ngModel)]="produit.description" placeholder="Description du produit"></ion-textarea>
                          </ion-item>
                          <ion-item>
                              <ion-input type="number"  [(ngModel)]="produit.prixUnitaire" placeholder="Prix unitaire"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-input type="number"  [(ngModel)]="produit.prixVente" placeholder="Prix de vente"></ion-input>
                          </ion-item>
          
                          <ion-item>
                              <ion-input  type="number"  [(ngModel)]="produit.quantite" placeholder="Quantite"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-input type="number" [(ngModel)]="produit.seuil" placeholder="Seuil"></ion-input>
                          </ion-item>
                        
                          <ion-item>
                              <ion-label    style="font-weight: bold; color: #222222">Categorie</ion-label>
                              <select-searchable
                           
                                item-content
                               [(ngModel)]="itemCat"
                                [items]="listItemsCat"
                                 itemValueField="object"
                                  itemTextField="nom"
                              [canSearch]="true" (onChange)="portChangeCat($event)">
                            </select-searchable>
                          </ion-item>
                        
                        </ion-list>
                        <footer>
                            <button class="bouton" (click)="addProduit()"  ion-button="">
                                <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;  
                              Ajouter
                            </button>
                        </footer>
       
                   </div>
          
        
      </ul>
  </div>
  <ion-row>
      <ion-col>
          <p class="text-col-header">Nom:</p>
      </ion-col>
      <ion-col>
          <p class="text-col-header">Description:</p>
      </ion-col>
    </ion-row>
  <ion-list *ngFor="let c of listProduits">

            <ion-card>
              <ion-card-header>

              </ion-card-header>

              <ion-card-content>
                  <ion-row>
                      <ion-col>
                          <p class="text-col">Produit</p>
                      </ion-col>
                      <ion-col>
                          <p class="text-col">{{c.libelle}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p class="text-col">Description</p>
                        </ion-col>
                        <ion-col>
                            <p class="text-col">{{c.description}}</p>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <p class="text-col">Prix unitaire</p>
                          </ion-col>
                          <ion-col>
                              <p class="text-col">{{c.prixUnitaire}}</p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <p class="text-col">Prix de vente</p>
                            </ion-col>
                            <ion-col>
                                <p class="text-col">{{c.prixVente}}</p>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col>
                                  <p class="text-col">Quantite</p>
                              </ion-col>
                              <ion-col>
                                  <p class="text-col">{{c.quantite}}</p>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <p class="text-col">Seuil</p>
                                </ion-col>
                                <ion-col>
                                    <p class="text-col">{{c.seuil}}</p>
                                </ion-col>
                              </ion-row>
                              
                              
              </ion-card-content>
            </ion-card>
    </ion-list>
  </ion-content>
  