<ion-content class="content">
 <ion-list no-lines>
      <div class="login-top">
       <!-- <h2 text-center>
          <img src="./assets/imgs/bg.png" alt="">
        </h2>-->
        <h4 style="margin-top:2%" text-center text-white>
          Neckstech
        </h4>
      </div>
      <ion-item>
        <ion-input placeholder="Login" type="email" focus [(ngModel)]="login"></ion-input>
      </ion-item>

      <ion-item *ngIf="affiche==false">
        <ion-input placeholder="Mot de passe"   type="password" [(ngModel)]="password" ></ion-input>
      </ion-item>
      <ion-item *ngIf="affiche==true">
        <ion-input placeholder="Mot de passe"   type="text" [(ngModel)]="password" ></ion-input>
      </ion-item>
      <a menu-close *ngIf="password!=''" ion-item="" class="showPwd" (click)="majAffiche()">
        <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
        &nbsp;Afficher mot de passe
      </a>

      <ion-item>
        <button ion-button block color="colornekstech" (click)="connect()" >Connecter</button>
      </ion-item>

    </ion-list>
  </ion-content>
