<!--
  Generated template for the CategoriePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Commande</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="accordion vertical">
    <ul>
      <li>
        <input type="radio" id="radio-1" name="radio-accordion" />
        <label for="radio-1">Ajout Commande</label>
        <div class="content">

          <ion-list>

            <ion-item>
              <ion-label>Client</ion-label>
              <ion-checkbox [(ngModel)]="clientcheck" (ionChange)="listClient()"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="clientcheck">
              <ion-label style="font-weight: bold; color: #222222">Clients</ion-label>
              <select-searchable item-content [(ngModel)]="itemClient" [items]="listItemsClient" itemValueField="object"
                itemTextField="nom_complet" [canSearch]="true" (onChange)="portChangeCl($event)">
              </select-searchable>
            </ion-item>
            <ion-item>
              <ion-label>Fournisseur</ion-label>
              <ion-checkbox [(ngModel)]="fournisseurcheck" (ionChange)="listFournisseur()"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="fournisseurcheck">
              <ion-label style="font-weight: bold; color: #222222">Fournisseurs</ion-label>
              <select-searchable item-content [(ngModel)]="itemFournisseur" [items]="listItemsFournisseur"
                itemValueField="object" itemTextField="nom_complet" [canSearch]="true"
                (onChange)="portChangeFr($event)">
              </select-searchable>
            </ion-item>
            <ion-item>
              <ion-label style="font-weight: bold; color: #222222">Produit</ion-label>
              <select-searchable item-content [(ngModel)]="itemProd" [items]="listItemsProd" itemTextField="libelle"
                [canSearch]="true" (onChange)="portChangeProd($event)">
              </select-searchable>
            </ion-item>
            <ion-item>
              <ion-input placeholder="quantité" type="number" [(ngModel)]="quantite"></ion-input>
            </ion-item>

          </ion-list>
          <footer>
            <button class="bouton" (click)="ajouterDetails()" ion-button="">
              <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;
              Ajouter
            </button>
          </footer>
          <ion-card *ngFor="let d of commande.details">
            <ion-card-content>
              <p>Produit: <b>{{d.produit.libelle}}</b></p>
              <p>Quantite: <b>{{d.quantite}}</b></p>
            </ion-card-content>
          </ion-card>
          <footer>
            <button style="float: right;" class="bouton" (click)="addCommande()" ion-button="">
              <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;
              Valider
            </button>
          </footer>

        </div>
    </ul>
  </div>
  <ion-row>
    <ion-col>
      <p class="text-col-header">Client/Fournisseur:</p>
    </ion-col>
    <ion-col>
      <p class="text-col-header">Quantite:</p>
    </ion-col>
  </ion-row>
  <ion-list *ngFor="let c of commandes">

    <ion-row>
      <ion-col *ngIf="c.client">
        <p class="text-col">{{c.client.nom_complet}}</p>
      </ion-col>
      <ion-col *ngIf="c.fournisseur">
        <p class="text-col">{{c.fournisseur.nom_complet}}</p>
      </ion-col>
      <ion-col>
        <p class="text-col">{{c.total}}</p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>