<ion-header>
    <ion-navbar color="colornekstech">
      <ion-title>Commericale</ion-title>
  
    </ion-navbar>
  
  </ion-header>

<ion-content>
    <ion-row class="div2barre">
        <div class="div1barre"></div>
        <p class="prow">
        Modules Commericale
      </p>
      </ion-row>

</ion-content>

