<!--
  Generated template for the ListRendezvousPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Mes prospects</ion-title>
    
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="spinnerList" style="margin-left: 50%;" name="bubbles" color="colornekstech"></ion-spinner>
 <ion-item>
  <ion-searchbar  
          placeholder="Recherche"
          [(ngModel)]="searchTerm" 
          (ionChange)="recherchePrsospect()"
          
          >
  </ion-searchbar>
 </ion-item>

  <ion-list>
    <ion-card class="ion-icon" style="border-width: 2px;" *ngFor="let p of prospects">
      <ion-card-header class="ion-card-header" *ngIf="!p.spinnerDistribution" (click)="creerRendezvous(p)"
        style="height: 0.5%;width: 50%;color: whitesmoke; border-radius: 50px 50px;margin-left: 25%;margin-top: 2%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-weight: bold;color: white;">Rendez-vous</b>
      </ion-card-header>
      <ion-card-content>
        <ion-item >
          <ion-icon name="home" style="color: teal"></ion-icon>
          <h2>Prospect</h2>
          <p>{{p.prospect}}</p>
        </ion-item>
      <!-- 
        <ion-item >
          <ion-icon name="person" style="color: teal"></ion-icon>
          <h2>Responsable</h2>
          <p>{{p.prenom}}&nbsp;&nbsp;{{p.nom}}</p>
        </ion-item>
        <ion-item >
          <ion-icon name="contacts" style="color: teal"></ion-icon>
          <h2>Contact et adresse</h2>
          <p>{{p.telephone}} / {{p.adresse}}</p>
        </ion-item>
      -->  
        <ion-row>
            <ion-col float-right>
                <ion-item  (click)="detailpage(p)" >
                  <ion-icon ios="ios-return-right" style="color: teal" md="md-return-right"></ion-icon>
                    <h2>Traiter le prospect</h2>
                  </ion-item>
              </ion-col>
        </ion-row>
        

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
