
<ion-content padding  overflow-scroll="true">
  <div class="top-page">
    <h2 text-center>
    <img src="./assets/imgs/logo/logo_home.png" alt=""> 
    </h2>
  </div>
  <div >
   <!-- <ion-list>
      <ion-item >
    
            <ion-label fixed>Username</ion-label>
            <ion-input type="text" value=""></ion-input>
        
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    
    </ion-list>-->
  </div>

  <div class="bottom-page">
    <ion-row>
      <button class="loginBtn" (click)="connection()" ion-button full  color="light">Connexion</button>
    </ion-row>
    <ion-row>
      <ion-col>
     
      </ion-col>
      <ion-col>
      
      </ion-col>
    </ion-row>
  </div>
</ion-content>
