page-auth {
    .scroll-content,fixed-content {
        overflow: hiddden;
        background: url(../assets/imgs/bg.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .top-page {
          padding-top: 10%;
          //height: 50%;
          h2 {
            img {
              //max-width: 30% !important;
            //;
              //border-radius: 6px;
            }
          }
        }
        .middle-page {
          padding-top:4rem;
          height: 34%;
        }
       
        .item-content {
            background-color:#ffffff;
          }
        
      }
}
