<!--
  Generated template for the RendezvousPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Rendez-vous</ion-title>
    <!--<ion-buttons end >
        <button ion-button icon-only (tap)="getLocationCoordinates()" >
            <ion-icon name="locate"></ion-icon>
        </button>
    </ion-buttons>-->

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!--<ion-item>
      <ion-label floating>Prospect</ion-label>
      <ion-input type="text" [(ngModel)]="prospect.prospect"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label position="floating">Date du rendez-vous</ion-label>
      <ion-datetime cancelText="Annuler" (ionCancel)="clearList()" doneText="OK" [(ngModel)]="rendezvous.DDate" (ionChange)="recapTime()" displayFormat="YYYY/MM/DD" min="2017-03-14" max="2020-12-09"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">heure du rendez-vous</ion-label>
    <ion-datetime cancelText="Annuler" (ionCancel)="clearList()" doneText="OK" [(ngModel)]="heureRendezvous" (ionChange)="recapTime()" displayFormat="HH:mm:ss"></ion-datetime>
</ion-item>
    <ion-item>
        <ion-label style="font-weight: bold;" position="fixed">Responsable</ion-label>
        <ion-input type="text" [(ngModel)]="rendezvous.Responsable" mode="ios"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label style="font-weight: bold;" position="fixed">Lieu</ion-label>
        <ion-input type="text" [(ngModel)]="rendezvous.Lieu" mode="ios"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label style="font-weight: bold;" position="fixed">Commentaire</ion-label>
        <ion-textarea [(ngModel)]="rendezvous.Commentaire"></ion-textarea>
    </ion-item>
   <!-- <ion-item>
        <ion-label position="fixed">Position</ion-label>
        <ion-input type="text" [(ngModel)]="prospect.prospect" mode="ios"></ion-input>
    </ion-item>-->
  </ion-list>
  <div padding>
      <button ion-button="" (click)="valueForm()" color="colornekstech" block>
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        &nbsp;&nbsp;Valider
      </button>
    </div>
</ion-content>
