page-home {
   
    .divImage{
        width: 25%;
        border: 2px;
        text-align: center;
    }
    .divContent{
   
        
    }
    .rowDiv{
                margin-top: 35%;
    }

    .row-item-figma1{
        margin-left: 15px;
    }
    .row-item-figma1scd{
        margin-left: -5px;
    }
    .row-item-figma2scd{
        margin-left: -5px;
        margin-top: 45px;
    }
    .row-item-figma2{
        margin-left: 15px;
        margin-top: 105px;
    }
    .itemfigma1{
        position: absolute;
        width: 135px;
        height: 107px;
        
        background: #013DA2;
    }
    .itemfigmascd1{
        position: absolute;
        width: 50px;
        height: 20px;
        
        background: #013DA2;
    }
    .itemfigmascd2{
        position: absolute;
        width: 50px;
        height: 20px;
        float: right;
        background: #013DA2;
    }
    .itemfigma2{
        position: absolute;
        width: 135px;
        height: 107px;
        float: right;
        background: #013DA2;
    }
    .prowfigma{
      position: absolute;top:50%; transform: translateY(-50%);
    width: 347px;
    height: 16px;
    margin-top: -1px;
    font-family: Roboto;
    font-style: normal;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    color: white;
    }
    .div1barre {
        position: absolute;
        z-index: 2;
        width: 5%;
        background-color: #013DA2;
      }
      
      .row-figma {
        background-color: #013DA2;
        position: relative;
        height: 3%;
        margin-bottom: 10px;
       
      }
      .textbloc{
          color: white;
          font-weight: bold;
          
      }
}
