<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>
      Menu
    </ion-title>
    <button ion-button="" menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="divHedear">
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

        <img src="./assets/imgs/logo_diiman2.png" />
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col style="font-family: 'Times New Roman', Times, serif;font-weight: bold;color: white;">
        {{nomEntreprise}}&nbsp;&nbsp;Company
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

  </div>
  <ion-row class="row-figma">
    <ion-col>

    </ion-col>
    <ion-col>
          <div class="div1barre"></div>
          <p class="prowfigma">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modules
          </p>
    </ion-col>
    <ion-col>

    </ion-col>

</ion-row>
  <ion-row class="row-item-figma1">
    <ion-col>
          <ion-item no-lines class="itemfigma1">
            <p class="textbloc">
              Gestion Stock
              
            </p>
            <p>
              <ion-icon name="square" color="light"></ion-icon>
            </p>
          </ion-item>
    </ion-col>
    <ion-col>
          <ion-item no-lines class="itemfigma2">
            <p class="textbloc">
              Gestion Prospect
             
            </p>
            <p>
              <ion-icon name="paper" color="light"></ion-icon>
            </p>
          </ion-item>
    </ion-col>
</ion-row>
<ion-row class="row-item-figma2">
    <ion-col>
          <!--<ion-item class="itemfigma1"></ion-item>-->
          <ion-row class="row-item-figma1scd" >
            <ion-col>
              <ion-item no-lines class="itemfigmascd1">
                <p>

                </p>
                <P>
                  <ion-icon name="document" color="light"></ion-icon>
                </P>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines class="itemfigmascd2">
                <p>

                </p>
                <P>
                  <ion-icon name="hammer" color="light"></ion-icon>
                </P>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="row-item-figma2scd" >
            <ion-col>
              <ion-item no-lines class="itemfigmascd1">
                <p>
                  
                </p>
                <P>
                  <ion-icon name="settings" color="light"></ion-icon>
                </P>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item no-lines class="itemfigmascd2">
                <p>

                </p>
                <P>
                  <ion-icon name="help-circle" color="light"></ion-icon>
                </P>
              </ion-item>
            </ion-col>
          </ion-row>


    </ion-col>
    <ion-col>
          <ion-item no-lines class="itemfigma2">
            <p class="textbloc">
              Gestion Adminin
            </p>
            <p>
              <ion-icon name="people" color="light"></ion-icon>
            </p>
          </ion-item>
    </ion-col>
</ion-row>


<!--<ion-row class="div2barre">
<div class="div1barre"></div>
<p class="prow">
Modules Stock
</p>
</ion-row>-->

</ion-content>
<ion-menu [content]="content">
  <ion-content style="background-color: white">
    <div padding="" class="divMenu">
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>
          <img src="./assets/imgs/logo_diiman2.png" />
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

    </div>


    <ion-list>

      <!--  <a menu-close style="background-color: white;font-weight: bold;color: black;" ion-item=""  (click)="commerciale ()">
            <ion-icon name="appstore"></ion-icon>
            &nbsp;Gestion commerciale
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" ion-item=""  (click)="production()">
            <ion-icon name="cube"></ion-icon>
            &nbsp;Gestion production
      </a>-->
      <a menu-close style="background-color: white;color: black;" no-lines ion-item=""
        (click)="navigationPage('stock')">
        <ion-icon name="square"></ion-icon>
        &nbsp;Gestion stock
      </a>
      <a menu-close style="background-color: white;color: black;" no-lines ion-item=""
        (click)="navigationPage('prospect')">
        <ion-icon name="paper"></ion-icon>
        &nbsp;Gestion Prospect
      </a>
      <a menu-close style="background-color: white;color: black;" no-lines ion-item=""
        (click)="navigationPage('rh')">
        <ion-icon name="people"></ion-icon>
        &nbsp;Administration
      </a>

      <!--  <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="qrScaner()">
        <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
        &nbsp;Qr code
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="monCompte()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        &nbsp;Photo
      </a>-->


    </ion-list>
    <ion-list>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" ion-item=""
      >

      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('outils')">
        <ion-icon name="hammer"></ion-icon>
        &nbsp;Outils
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('outils')">
        <ion-icon name="help-circle"></ion-icon>
        &nbsp;Centre d'aide
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('reglage')">
        <ion-icon name="settings"></ion-icon>
        &nbsp;Réglages
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('test')">
        <ion-icon name="settings"></ion-icon>
        &nbsp;Test
      </a>
      <!--  <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('compte')">
        <ion-icon name="person"></ion-icon>
        &nbsp;Mon compte
      </a>
      <a menu-close style="background-color: white;font-weight: bold;color: black;" no-lines ion-item=""
        (click)="navigationPage('deconnexion')">
        <ion-icon name="log-out"></ion-icon>
        &nbsp;Deconnexion
      </a>-->
    </ion-list>
  </ion-content>
  <ion-footer padding="" style="font-family: 'Times New Roman';color: black">REZILUX Company © 2019 <br />Tous Droits
    Réservés.<br />
    Version 1.0.0
  </ion-footer>
</ion-menu>
<ion-nav #content></ion-nav>