.signInModal {
  padding: 30px;
  .modal-wrapper {
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5);
    height: 75% !important;
    margin-top: 10%;

    ion-list{

    
      img {
        margin-top: 15%;
        max-width: 40%;
      }

      .item{

        background: none !important;
        button{
          height:4rem !important;
        }
      }
    }
  }
}
