// http://ionicframework.com/docs/theming/
[text-white]{
    color:#fff !important;
  }
  @import "../theme/login";
  
  // App Global Sass
  // --------------------------------------------------
  // Put style rules here that you want to apply globally. These
  // styles are for the entire app and not just one component.
  // Additionally, this file can be also used as an entry point
  // to import other Sass files to be included in the output CSS.
  //
  // Shared Sass variables, which can be used to adjust Ionic's
  // default Sass variables, belong in "theme/variables.scss".
  //
  // To declare rules for a specific mode, create a child rule
  // for the .md, .ios, or .wp mode classes. The mode class is
  // automatically applied to the <body> element in the app.
  .myCardHeader{
    background-color: #007069;
    color: white;
  }
  .row {
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
  }
  .block {
    width: 100px;
    /*float: left;*/
    display: inline-block;
    zoom: 1;
  }
  
  .centrage {text-align: center;}
  $colors: (
    primary:    #488aff,
    secondary:  darkcyan,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    yellow: #becb29,
    twitter: (
      base: #55acee,
      contrast: #ffffff
    ),
    mycol: #259282
  );
  .image{
    background-image: url("../assets/imgs/bakeau.jpg");
  }
  
  .container{
    width: 95%;
    overflow: hidden;
    background: #222222;
    margin: 20px auto;
    padding: 20px 0px;
  }
  .containerForm{
    background: azure;
  }
  .buttonAjout{
    background: blue;
  }
  .containerToogle{
    background: midnightblue;
  }
  .container ul{
    padding: 0px;
    margin: 0px;
  }
  .container ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background: darkblue;
    margin: 40px 30px 0px 40px;
    box-sizing: border-box;
    border: 2px solid white;
  }
  .container ul li:hover{
    opacity: 0.9;
  }
  .container ul li .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: white;
    text-align: center;
    font-size: x-large;
  }
  @media screen and (max-width: 1250px) {
    .container ul li{
      width: 40%;
      margin-left: 40px;
  
    }
  }
  
  @media screen and (max-width: 750px) {
    .container {
      width: 100%;
      padding: 0px;
  
    }
    .container ul li {
      width: 90%;
      float: none;
      margin: 40px auto;
  
    }
    .toast-container{
      background: #002768;
     }
  
  .toast-md .toast-message{
      color: white;
      font-weight: bolder;
  }
  // free #b90808
  // neckstech rgb(6, 180, 180)
  .ion-card-header{
    background-color: #002768;
  }
 
  .divHedear{
    background-color: #002768;
   
    max-width: auto;
}
.divMenu{
  background-color: #002768;
  height: 175px;
}
.bottom-page {
  height: 15%;
  button.loginBtn {
    height: 3.7rem;
    background-color: rgb(6, 180, 180);
  }
  margin-top: 150%;
  width: 76%; 
}
.login-top{
  margin-top: -20px;
  background-color: rgb(6, 180, 180);
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.bouton-raidus{
  border-radius: 15px;
  background-color: #002768;
}
.bouton{
  text-align: center;
  background-color: #002768;
}
.ion-scroll-map {
  height: 300px;
  }
  .ion-scroll-maprv {
    height: 400px;
    }
  .text-style{
    color: rgb(6, 180, 180);
    font-weight: bolder;
  }
  .ion-col{
    background-color: rgb(6, 180, 180);
    font-weight: bolder;
  }
  .ion-card-header{
    font-weight: bolder;
    text-decoration-color: rgb(6, 180, 180);
  }
  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
  }
  .centrage {text-align: center;}

  }
  .text-col{
    font-weight: bolder;
    color: white;
  }
  .text-col-header{
    font-weight: bolder;
    color: rgb(6, 180, 180);
  }
  