<ion-header>
    <ion-navbar color="colornekstech">
      <ion-title>
        Menu
      </ion-title>
      <button  ion-button=""  menuToggle="">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>

<ion-content padding>

</ion-content>
