<!--
  Generated template for the ReglagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>reglage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <a menu-close no-lines ion-item="">
      Pays
      <b style="float: right;">Senegal</b>
    </a>

    <a menu-close no-lines ion-item="">
     Theme
      <ion-icon name="square" color="colornekstech" style="float: right;"></ion-icon>
    </a>

    <a menu-close no-lines ion-item="">
      Version
      <b style="float: right;">1.0.1</b>
    </a>
  </ion-list>

  <ion-row style="margin-top: 110%;">
    <ion-col>
      <button class="bouton-raidus" (click)="deconnexion()" ion-button="">
        <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;
        Deconnexion
      </button>
    </ion-col>

  </ion-row>
</ion-content>