<ion-content>
  <div class="divHeader">
    <div class="div-image">
      <img src="./assets/imgs/logo_diiman2.png"  alt="">
    </div>
    <div class="divrHeaderContent">
      <div class="div-label-top">
        Connexion
      </div>
      <ion-row>
        <ion-col>
          <ion-item no-lines class="divlogin">
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input clearInput class="userName" type="text" [(ngModel)]="login" placeholder="login">
            </ion-input>
            
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
      <ion-item no-lines class="divMdp">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input clearInput class="userName" type="password" [(ngModel)]="password" placeholder="Mot de passe">
        </ion-input>
        
      </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label class="label-mdp-forget">
            Mot de passe oublié?
          </label>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
      <ion-item no-lines class="cercle">

      </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col (click)="connect()">
      <ion-item no-lines class="cercleP">
        <ion-icon name="arrow-forward" class="iconArrow"></ion-icon>
      </ion-item>
      </ion-col>
      </ion-row>

    </div>
    <ion-row class="row-textAppui">
      <ion-col>
  
      </ion-col>
      <ion-col align-items-center>
  
        Appuyer pour continuer
  
      </ion-col>
      <ion-col>
  
      </ion-col>
    </ion-row>
  </div>

  <!-- <ion-row>
    <ion-col >
      <ion-item no-lines class="divHeader">

      </ion-item>
    </ion-col>
   
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="./assets/imgs/logo_diiman2.png" width="30%" alt="">
    </ion-col>
  
  </ion-row>
 
  <ion-row>
    <ion-col class="ionColDiv">
      <ion-item no-lines class="divHeaderContent">
      </ion-item>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="divlabel">

      Connexion

    </ion-col>
    <ion-col class="ionColInput">
      <ion-item no-lines class="divlogin">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input clearInput class="userName" type="text" placeholder="login">
        </ion-input>
        <ion-icon class="iconLogin" name="person"></ion-icon>
      </ion-item>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col class="ionColInput">
      <ion-item no-lines class="divMdp">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input clearInput class="userName" type="text" placeholder="Mot de passe">
        </ion-input>
        <ion-icon class="iconLogin" name="person"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>


 
  <ion-row class="row-circle-mere">
    <ion-col>

    </ion-col>
    <ion-col class="ion-cercle-pere">
      <ion-item no-lines class="boutonFFF">

      </ion-item>


    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
  <ion-row class="row-circle-fils">
    <ion-col>

    </ion-col>
    <ion-col class="ion-cercle-fils">

      <ion-item no-lines class="boutonFF">
        <ion-icon name="arrow-forward" class="iconArrow"></ion-icon>
      </ion-item>

    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
  <ion-row class="row-textAppui">
    <ion-col>

    </ion-col>
    <ion-col align-items-center>

      Appuyer pour continuer

    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
 
-->
</ion-content>