page-logindesign {
    .content{
        position: absolute;
     
    
    background: #F3ECEC;
 
    }
    .divHeader{
  
        position: absolute;
        width: 100%;
        height: 60%;
        
        background: #002768;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 10px 10px;
        }
        .divrHeaderContent{
            position: absolute;
width: 80%;
height: 350px;
margin-top: 170px;
margin-left: 10%;

background: white;
border-radius: 10px;
            
            }
            .div-image{
 position: absolute;
width: 150px;
height: 86px;
margin-left: 32%;

            }
            .div-label-top{

                position: absolute;
                width: 137px;
                height: 27px;
                margin-top: 35px;
                margin-left: 20px;
                font-family: Times New Roman;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 14px;
                display: flex;
                align-items: center;
                
                color: #002768;
            }
            .divlogin{
                position: absolute;
                
                height: 37px;
                width: 88%;
                margin-left: 10px;
                margin-top: 80px;
                background: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
            }
            .divMdp{
                position: absolute;
                width: 88%;
                height: 37px;
                margin-top: 150px;
                margin-left: 10px;
                background: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
            }
            .cercle{
               position: absolute;
               width: 72px;
               height: 70px;
                margin-top: 285px;
                background:  white;
                
                border-radius: 50px;
                margin-left: 35%;
               
            }
            .cercleP{
                position: absolute;
                width: 62px;
                height: 56px;
                 margin-top: 285px;
                 background:  #002768;
               
                 border-radius: 50px;
                 margin-left: 36.5%;
             
             }
           
              .iconArrow{
    
                width: 200px;
                height: 0px;
                color: white;
                margin-left: 10px;
                box-sizing: border-box;
              }
              .label-mdp-forget{
                position: absolute;
                width: 149px;
                height: 34px;
                
                font-family: Times New Roman;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                margin-top: 250px;
                margin-left: 41.5%;
                color: rgba(0, 39, 104, 0.96);
              }
              .row-textAppui{
                margin-top: 570px;
                color: #002768;
                font-family: Times New Roman;
                font-style: normal;
                font-weight: bold;
                position: absolute;
              }
        //======================================================
        //======================================================
}
