<ion-header>
    <ion-navbar color="colornekstech">
      <ion-title>
          {{prospect.prospect}}
      </ion-title>
     
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div #map id="map" >

    </div> 
    
      <ion-row>
        <ion-col >
                <button class="bouton-raidus" (click)="itineraire()"  ion-button="">
                    <ion-icon name="map"></ion-icon>&nbsp;&nbsp;  
                  Iteneraire
                </button>
        </ion-col>
       
        <ion-col>
            <button class="bouton-raidus" (click)="call()"  ion-button="">
                <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
                Contacter
            </button>
    </ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="ion-col">
           <p> Informations du prospect</p>
        </ion-col>
        </ion-row>
      <ion-card class="ion-scroll-map" style="border-width: 2px;" >
          
          <ion-card-content>
           
            <ion-item>
              <ion-icon name="person" style="color: teal"></ion-icon>
              <h2>Responsable</h2>
              <p>{{prospect.prenom}}&nbsp;&nbsp;{{prospect.nom}}</p>
            </ion-item>
            <ion-item >
              <ion-icon name="contacts" style="color: teal"></ion-icon>
              <h2>Contact et adresse</h2>
              <p>{{prospect.telephone}} / {{prospect.adresse}}</p>
            </ion-item>
            <ion-item (click)="getRvenCours()">
                <ion-icon name="calendar" style="color: teal"></ion-icon>

                    <p>Rendez-vous&nbsp;</p><b *ngIf="etatRendezvous=='adherant'" style="color: green;">({{etatRendezvous}})</b>
                    <b *ngIf="etatRendezvous=='prospect'" style="color: green;">({{etatRendezvous}})</b>
                    <b *ngIf="etatRendezvous=='encours'" style="color: green;">({{etatRendezvous}})</b>
            </ion-item>
          </ion-card-content>
        </ion-card>
      <ion-row *ngIf="rv">
      <ion-col class="ion-col">
         <p> Rendez-vous en cours</p>
      </ion-col>
      </ion-row>
        <ion-list  *ngIf="rv" class="ion-scroll-map" style="border-width: 2px;" >
          <ion-row>
            <ion-col>
                <ion-item>
                    <ion-icon name="person" style="color: teal"></ion-icon>
                    <h2 >Agent</h2>
                    <p>{{user}}</p>
                  </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-icon name="person" style="color: teal"></ion-icon>
                    <h2>Responsable</h2>
                    <p class="text-style">{{rendezvous.Responsable}}</p>
                  </ion-item>
            </ion-col>
            </ion-row>
        
        <ion-row>
          <ion-col>
              <ion-item style="float: right;" icon-end clear item-right>
                  <ion-icon name="calendar" style="color: teal"></ion-icon>
                  <p>{{rendezvous.DDate  | date: "dd/MM/yyyy H:mm"}}</p>
              </ion-item>
          </ion-col>
          <ion-col>
              <ion-item style="float: right;" icon-end clear item-right>
                  <ion-icon name="locate" style="color: teal"></ion-icon>
                  <h2>Lieu</h2>
                  <p>{{rendezvous.Lieu}}</p>
              </ion-item>
            </ion-col>
        </ion-row>
          
            <ion-row >
              <ion-col class="ion-col">
                 <p> Conclusion du rendez-vous</p>
              </ion-col>
            </ion-row>
            <ion-card class="ion-scroll-map" style="border-width: 2px;" >
              <ion-list >
                <ion-item>
                  <ion-label>Adherant</ion-label>
                  <ion-checkbox [(ngModel)]="conclusioncheckad" (ionChange)="checkConclusion('adherant')"></ion-checkbox>
                </ion-item>
              </ion-list>
              <ion-item>
                <ion-label>Toujours prospect</ion-label>
                <ion-checkbox [(ngModel)]="conclusionchecktp" (ionChange)="checkConclusion('prospect')"></ion-checkbox>
              </ion-item>
              <button [disabled]="disableButtond" class="bouton-raidus" (click)="validerRendezVous()"  ion-button="">
                <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>&nbsp;&nbsp;  
              Valider le Rendez-vous
            </button>
            </ion-card> 
          </ion-list>
  
  
  </ion-content>