
    .ios, .md {

        page-detailprospect {
      
          .scroll-content {
            height: 100%
          }
          .ion-content{
            height: 600%;
          }
      
          #map {
            width: 100%;
            height: 50%;
          }
      
        }
      
      
      }

