<!--
  Generated template for the CategoriePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>categorie</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="accordion vertical">
    <ul>
        <li>
            <input type="radio" id="radio-1" name="radio-accordion" />
            <label for="radio-1">Ajout catégorie</label>
            <div class="content">

                      <ion-list>
                  
                        <ion-item>
                          <ion-input placeholder="Nom de la catégorie" type="text" [(ngModel)]="categorie.nom"></ion-input>
                        </ion-item>
                      
                        <ion-item>
                            <ion-textarea  [(ngModel)]="categorie.description" placeholder="Description de la catégorie"></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label>Sous categorie</ion-label>
                            <ion-checkbox [(ngModel)]="souscategorie" (ionChange)="checkSouscategorie()"></ion-checkbox>
                          </ion-item>
                        <ion-item>
                            <ion-label  *ngIf="showSpinnerCat"  style="font-weight: bold; color: #222222">Parent</ion-label>
                            <select-searchable
                             *ngIf="showSpinnerCat"
                              item-content
                             [(ngModel)]="itemCat"
                              [items]="listItemsCat"
                               itemValueField="object"
                                itemTextField="nom"
                            [canSearch]="true" (onChange)="portChangeCat($event)">
                          </select-searchable>
                        </ion-item>
                      
                      </ion-list>
                      <footer>
                          <button class="bouton" (click)="ajoutCategorie()"  ion-button="">
                              <ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;  
                            Ajouter
                          </button>
                      </footer>
     
                 </div>
        
      
    </ul>
</div>
<ion-row>
    <ion-col>
        <p class="text-col-header">Nom:</p>
    </ion-col>
    <ion-col>
        <p class="text-col-header">Description:</p>
    </ion-col>
  </ion-row>

<ion-list *ngFor="let c of listCategories">
    
        <ion-row>
            <ion-col>
                <p class="text-col">{{c.nom}}</p>
            </ion-col>
            <ion-col>
                <p class="text-col">{{c.description}}</p>
            </ion-col>
          </ion-row>
  </ion-list>
</ion-content>
