page-stock {
.row-stock{
    position: absolute;
width: 347px;
height: 16px;

background: #013DA2;
}
.row-item-figma1{
    margin-left: 25px;
}
.row-item-figma2{
    margin-left: 25px;
    margin-top: 105px;
}
.itemfigma1{
    position: absolute;
    width: 128px;
    height: 107px;
    
    background: #013DA2;
}
.itemfigma2{
    position: absolute;
    width: 128px;
    height: 107px;
    float: right;
    background: #013DA2;
}
.prowfigma{
  position: absolute;top:50%; transform: translateY(-50%);
width: 347px;
height: 16px;
margin-top: -1px;
font-family: Roboto;
font-style: normal;
font-size: 13px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
vertical-align:middle;
color: white;
}
.div1barre {
    position: absolute;
    z-index: 2;
    width: 5%;
    background-color: #013DA2;
  }
  
  .row-figma {
    background-color: #013DA2;
    position: relative;
    height: 3%;
    margin-bottom: 10px;
  }
}
