<ion-header>
      <ion-navbar color="colornekstech">
            <ion-title>Stock et inventaire</ion-title>

      </ion-navbar>

</ion-header>

<ion-content>
     <ion-row class="row-figma">
            <ion-col>

            </ion-col>
            <ion-col>
                  <div class="div1barre"></div>
                  <p class="prowfigma">
                        Modules
                  </p>
            </ion-col>
            <ion-col>

            </ion-col>

      </ion-row>
    <!--   <ion-row class="row-item-figma1">
            <ion-col>
                  <ion-item class="itemfigma1"></ion-item>
            </ion-col>
            <ion-col>
                  <ion-item class="itemfigma2"></ion-item>
            </ion-col>
      </ion-row>
      <ion-row class="row-item-figma2">
            <ion-col>
                  <ion-item class="itemfigma1"></ion-item>
            </ion-col>
            <ion-col>
                  <ion-item class="itemfigma2"></ion-item>
            </ion-col>
      </ion-row>-->


    <!--<ion-row class="div2barre">
        <div class="div1barre"></div>
        <p class="prow">
        Modules Stock
      </p>
      </ion-row>-->

      <ion-list *ngFor="let l of listmoduleStock">
    
        <a menu-close  ion-item=""  class="amenu" (click)="gotTopage(l.libelle)">
              <ion-icon slot="start"  [name]="l.icon"></ion-icon>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{l.libelle}}
        </a>
   
      </ion-list>

</ion-content>