<!--
  Generated template for the RhmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Administration</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-row class="div2barre">
    <div class="div1barre"></div>
    <p class="prow">
      Ressources humaines
    </p>
  </ion-row>

  <ion-list *ngFor="let l of listmoduleStock">

    <a menu-close  class="amenu" ion-item=""
      >
      <ion-icon slot="start" [name]="l.icon"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{l.libelle}}
    </a>
  </ion-list>


</ion-content>