<!--
  Generated template for the AddProspectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>Prospect</ion-title>
    <ion-buttons end >
        <button ion-button icon-only (tap)="getLocationCoordinates()" >
            <ion-icon name="locate"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end >
      <button ion-button icon-only (tap)="listProspect()" >
          <ion-icon name="list"></ion-icon>
      </button>
  </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <!--<ion-item>
          <ion-label floating>Prospect</ion-label>
          <ion-input type="text" [(ngModel)]="prospect.prospect"></ion-input>
        </ion-item>-->
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Prospect</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.PProspect" mode="ios"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Nom</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.Nom" mode="ios"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Prenom</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.Prenom" mode="ios"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Adresse</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.Adresse" mode="ios"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Telephone</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.Telephone" mode="ios"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bold;" position="fixed">email</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.Email" mode="ios"></ion-input>
        </ion-item>
        <!--<ion-item>
            <ion-label style="font-weight: bold;" position="fixed">Etat prospect</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.etatProspect" mode="ios"></ion-input>
        </ion-item>-->
        <ion-list>
            <ion-item>
              <ion-label *ngIf="!showSpinnerRegion" style="font-weight: bold; color: #222222">Région</ion-label>
              <ion-spinner *ngIf="showSpinnerRegion" name="bubbles"></ion-spinner>
              <select-searchable *ngIf="!showSpinnerRegion" item-content [(ngModel)]="reg" [items]="regions"
                itemValueField="region" itemTextField="nom" [canSearch]="true" (onChange)="portChangeRegion($event)">
              </select-searchable>
            </ion-item>
          </ion-list>
        
          <ion-list>
              <ion-item *ngIf="region != null">
                  <ion-label  *ngIf="!showSpinnerVille" style="font-weight: bold; color: #222222">Ville</ion-label>
                  <ion-spinner *ngIf="showSpinnerVille" name="bubbles" ></ion-spinner>
                  <select-searchable *ngIf="!showSpinnerVille" item-content [(ngModel)]="vil" [items]="villes" itemValueField="ville" itemTextField="nom"
                    [canSearch]="true" (onChange)="portChangeVille($event)">
                  </select-searchable>
                </ion-item>      
          </ion-list>
        <ion-item>
            <!--<ion-label position="fixed">Commentaire</ion-label>
            <ion-input type="text"  mode="ios"></ion-input>-->
            <ion-label style="font-weight: bold;" position="fixed">Commentaire</ion-label>
            <ion-textarea [(ngModel)]="prospect.Commentaire"></ion-textarea>
        </ion-item>
       <!-- <ion-item>
            <ion-label position="fixed">Position</ion-label>
            <ion-input type="text" [(ngModel)]="prospect.prospect" mode="ios"></ion-input>
        </ion-item>-->
      </ion-list>
      <div padding>
          <button ion-button="" (click)="valueForm()" color="colornekstech" block>
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
            &nbsp;&nbsp;Valider
          </button>
        </div>
</ion-content>
