<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="colornekstech">
    <ion-title>{{module}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let phoneNotice of listInput; let i = index;">
    <ion-item *ngIf="phoneNotice.field=='input'">
      <ion-label style="font-weight: bold;" floating>{{phoneNotice.placehorlder}}</ion-label>
      <ion-input type="phoneNotice.type" [(ngModel)]="phoneNotice.ngvar" mode="ios"></ion-input>
    </ion-item>
    <ion-item *ngIf="phoneNotice.field=='checkbox'">
      <ion-label>{{phoneNotice.placehorlder}}</ion-label>
      <ion-checkbox [(ngModel)]="phoneNotice.ngvar" (ionChange)="checkbooxFonctionUniform(listInput,i,phoneNotice.placehorlder)"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="phoneNotice.field=='select-searchable' && phoneNotice.showSpinnerCat">
      <ion-label style="font-weight: bold; color: #222222">{{phoneNotice.placehorlder}}</ion-label>
      <select-searchable item-content [(ngModel)]="item" [items]="phoneNotice.ngvar" [itemTextField]="phoneNotice.nom"
        [canSearch]="true" (onChange)="portChangeFunction($event, i)">
      </select-searchable>
    </ion-item>

    <ion-row *ngIf="phoneNotice.field=='details'">
      <ion-col>
        <ion-card *ngIf="details">
          <ion-card-content>
            <ion-row>
              <ion-col>
               Produit
              </ion-col>
              <ion-col>
               Quantité
              </ion-col>
            </ion-row>
           <ion-list *ngFor="let d of details">
             <ion-row>
               <ion-col>
                <b>{{d.produit.libelle}}</b>
               </ion-col>

               <ion-col>
                <b>{{d.quantite}}</b>
               </ion-col>
             </ion-row>

            </ion-list>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
    <ion-row *ngIf="phoneNotice.field=='detailsqt'">
      <ion-col *ngIf="totaldetail">
        <b>Total</b>
      </ion-col>
      <ion-col>
       {{totaldetail}}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="phoneNotice.field=='detailsqt'">
      <ion-col>
  
      </ion-col>
  
      <ion-col>
        <button class="bouton-raidus" (click)="ajoutDetailsProduit(listInput)" ion-button="">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>&nbsp;&nbsp;
          Ajout produit
        </button>
      </ion-col>
    </ion-row>
  </ion-list>

 

  <div padding>
    <button ion-button="" (click)="addObjetFunction(listInput)" color="colornekstech" block>
      <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      &nbsp;&nbsp;Valider
    </button>
  </div>
</ion-content>